<!DOCTYPE html>
<html lang="ko">
<head>
<title>상품정보 조회</title>
<%- include ("../_helpers/html_header") %>
</head>
<body>
	<div class="container">
		<h2>상품정보 조회</h2>
		<p/>	
		<form action=/detail/search method="POST" id="itemNo">
			<div class="form-group">
				<label for="prod_no">상품번호</label> 
				<input type="text" class="form-control" id="prod_no" name="prod_no" value = "">
				
			</div>
			&nbsp;
			<button type="submit" class="btn btn-success" id="btn">조회하기</button>
		</form>
	</div>
	
<script>

$("#btn").submit(function(){
	alert("hello");
});

</script>	
</body>
</html>